<ion-header>
  <ion-toolbar>
    <ion-title>Sort and Filter</ion-title>
    <ion-buttons fill="outline" slot="end">
      <ion-button (click)="dismiss()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Sort</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="card-outline" (click)="sortItem()"></ion-icon>
      <ion-label>Deals</ion-label>
      <ion-icon
        name="checkmark-outline"
        color="primary"
        *ngIf="clicked"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Most Popular</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Rating</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Max Delivery Fee</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range
        min="2"
        max="10"
        color="secondary"
        step="2"
        snaps="true"
        pin="true"
      >
        <ion-label slot="start">$2</ion-label>
        <ion-label slot="end">$10</ion-label>
      </ion-range>
    </ion-item>

    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Dietry</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Gluten Free</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Halal</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Allergy Friendly</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
